*{
    
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
}

.text{
    align-items:center;
}
.posicionar {
    display: block;
}

body{
    background-image: url(/ImaÌgenes/pastelimg.webp);
    background-size: cover;
}


.colorNav{
    display: flex;
    justify-content: center;
    color: #8F3A99;
}

h1{
    color: #8F3A99;
    display: flex;
    justify-content: center;

    }


.spoti{
    display: flex;
    justify-content: center;
    margin: 20px 0px 20px 0px;
}

.ftco-footer-social li {
    list-style: none;
    margin: 0 10px 0 0;
    display: inline-block; }
    .ftco-footer-social li a {
      height: 40px;
      width: 40px;
      display: block;
      background: rgba(0, 0, 0, 0.05);
      border-radius: 50%;
      position: relative; }
      .ftco-footer-social li a span {
        position: absolute;
        font-size: 20px;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%); }
      .ftco-footer-social li a:hover {
        color: #fff; }
  
  .form-control {
    height: 52px;
    background: #fff;
    color: #000;
    font-size: 18px;
    border-radius: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid rgba(0, 0, 0, 0.1); }
    .form-control:focus, .form-control:active {
      outline: none !important;
      -webkit-box-shadow: none;
      box-shadow: none; }
  
  textarea.form-control {
    height: inherit !important; }
  
  .block-21 .img {
    display: block;
    height: 80px;
    width: 80px; }
  
  .block-21 .text {
    width: calc(100% - 100px); }
    .block-21 .text .heading {
      font-size: 16px;
      font-weight: 400;
      line-height: 1.4; }
      .block-21 .text .heading a {
        color: #000; }
        .block-21 .text .heading a:hover, .block-21 .text .heading a:active, .block-21 .text .heading a:focus {
          text-decoration: none; }
    .block-21 .text .meta > div {
      display: inline-block;
      font-size: 12px;
      margin-right: 5px; }
      .block-21 .text .meta > div a {
        color: gray; }
  
  .block-23 ul {
    padding: 0; }
    .block-23 ul li, .block-23 ul li > a {
      display: table;
      line-height: 1.5;
      margin-bottom: 15px; }
    .block-23 ul li .icon, .block-23 ul li .text {
      display: table-cell;
      vertical-align: top; }
    .block-23 ul li .icon {
      width: 40px;
      font-size: 18px;
      padding-top: 2px; }
  
  .block-24 a.img {
    width: 100%;
    height: 100px;
    display: block; }
  
  .ftco-section {
    padding: 12em 0; }
    .ftco-section h2 {
      margin-bottom: 0; }
  
  footer {
    padding: 7em 0; }
  
  .footer-09 {
    background: #2a1a5e;
    background: -moz-linear-gradient(45deg, #2a1a5e 0%, #5126a7 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, #2a1a5e), color-stop(100%, #5126a7));
    background: -webkit-linear-gradient(45deg, #2a1a5e 0%, #5126a7 100%);
    background: -o-linear-gradient(45deg, #2a1a5e 0%, #5126a7 100%);
    background: -ms-linear-gradient(45deg, #2a1a5e 0%, #5126a7 100%);
    background: linear-gradient(45deg, #2a1a5e 0%, #5126a7 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2a1a5e', endColorstr='#5126a7', GradientType=1 ); }
    .footer-09 .border-top {
      border-color: rgba(255, 255, 255, 0.1) !important; }
    .footer-09 a {
      color: #fe59d7; }
      .footer-09 a:hover {
        color: rgba(255, 255, 255, 0.9); }
    .footer-09 p {
      color: rgba(255, 255, 255, 0.3); }
    .footer-09 .footer-heading {
      color: #fff;
      font-size: 22px;
      margin-bottom: 30px; }
      .footer-09 .footer-heading .icon {
        width: 40px;
        margin-right: 10px;
        border-radius: 50%;
        height: 40px;
        display: block;
        color: #fe59d7;
        border: 1px solid #fe59d7; }
    .footer-09 ul.list-unstyled li a {
      color: rgba(255, 255, 255, 0.5); }
    .footer-09 .block-21 .heading a {
      color: rgba(255, 255, 255, 0.5); }
    .footer-09 .block-21 .meta div a {
      color: rgba(255, 255, 255, 0.3); }
    .footer-09 .block-23 ul li {
      color: rgba(255, 255, 255, 0.5); }
    .footer-09 .subscribe-form .form-group {
      position: relative;
      margin-bottom: 0;
      border-radius: 0; }
      .footer-09 .subscribe-form .form-group input {
        background: rgba(0, 0, 0, 0.05) !important;
        border: 2px solid #fe8ce3 !important;
        outline: none !important;
        color: rgba(255, 255, 255, 0.3) !important;
        font-size: 16px;
        border-radius: 0; }
        .footer-09 .subscribe-form .form-group input::-webkit-input-placeholder {
          /* Chrome/Opera/Safari */
          color: rgba(255, 255, 255, 0.3) !important; }
        .footer-09 .subscribe-form .form-group input::-moz-placeholder {
          /* Firefox 19+ */
          color: rgba(255, 255, 255, 0.3) !important; }
        .footer-09 .subscribe-form .form-group input:-ms-input-placeholder {
          /* IE 10+ */
          color: rgba(255, 255, 255, 0.3) !important; }
        .footer-09 .subscribe-form .form-group input:-moz-placeholder {
          /* Firefox 18- */
          color: rgba(255, 255, 255, 0.3) !important; }
        .footer-09 .subscribe-form .form-group input:focus {
          outline: none !important;
          -webkit-box-shadow: none;
          box-shadow: none; }
      .footer-09 .subscribe-form .form-group .submit {
        color: #fff !important;
        display: block;
        width: 52px;
        height: 52px;
        font-size: 16px;
        background: #fe8ce3 !important;
        border: none;
        border-radius: 0; }
        .footer-09 .subscribe-form .form-group .submit:hover, .footer-09 .subscribe-form .form-group .submit:focus {
          text-decoration: none !important;
          outline: none !important; }
  

.songOne{
    display: flex;
    justify-content: center;
}

p{
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
}
.btn.btn-round {
    border-radius: 40px;
}
.btn.btn-primary {
    background: #5735ea;
    border-color: #5735ea;
    color: #fff;
    display: flex;
    justify-content: center;
}